.introduction h1, .portfolio h2, .about h2, .medias h2, .contact h2, .footer-top h3 {
  text-transform: uppercase;
  font-weight: 700; }

@media screen and (max-width: 767px) {
  .img-desktop {
    display: none; } }

@media screen and (min-width: 768px) {
  .text-phone {
    display: none !important; } }

@media screen and (min-width: 768px) {
  .m-t-3-desktop {
    margin-top: 3rem !important; } }

@media screen and (max-width: 767px) {
  .m-y-2-phone {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important; } }

.bb-navbar-button {
  background: transparent;
  border: 1px solid #1a242f;
  border-radius: 4px;
  padding: 6px 7px; }
  .bb-navbar-button:hover, .bb-navbar-button:active, .bb-navbar-button:focus {
    background: #1A242F; }

.bb-navbar-icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: white;
  border-radius: 1px; }

.btn-secondary-outline {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  border: 2px solid white;
  color: white;
  line-height: 60px;
  width: 230px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px; }
  .btn-secondary-outline:hover {
    background: white;
    border: 2px solid white;
    color: black; }

.btn-send {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  border: 2px solid white;
  color: #2C3E50;
  background: white;
  line-height: 60px;
  width: 230px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px; }
  .btn-send:hover {
    background: #ff6347;
    border: 2px solid #ff6347;
    color: #2C3E50; }

.starlight {
  border: 3px solid white;
  padding: 0;
  text-align: center;
  max-width: 250px; }
  .starlight::after {
    content: "\f005";
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    top: -0.8em;
    font-size: 2em;
    padding: 0 0.25em;
    background-color: #0a5375;
    color: white; }

.starlight-inverse {
  border: 3px solid #2C3E50;
  padding: 0;
  text-align: center;
  max-width: 250px; }
  .starlight-inverse::after {
    content: "\f005";
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    top: -0.8em;
    font-size: 2em;
    padding: 0 0.25em;
    background-color: white;
    color: #2C3E50; }

.form-control {
  line-height: 40px; }

.bb-navbar {
  border-radius: 0px;
  background: #2C3E50;
  height: 80px; }
  @media screen and (max-width: 767px) {
    .bb-navbar {
      height: 50px; } }
  .bb-navbar-toggle {
    position: absolute;
    top: 50px;
    height: 130px;
    display: none; }
  @media screen and (min-width: 768px) {
    .bb-navbar-button {
      display: none !important; } }
  .bb-navbar-nav, .bb-navbar-brand, .bb-navbar-nav-mobile {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: white; }
  .bb-navbar-nav {
    margin-top: 15px;
    font-size: 15px;
    text-transform: uppercase; }
    @media screen and (max-width: 767px) {
      .bb-navbar-nav {
        display: none !important; } }
    .bb-navbar-nav-mobile {
      font-size: 15px;
      text-transform: uppercase;
      margin-top: 8px;
      margin-bottom: 8px; }
  .bb-navbar-brand {
    text-transform: uppercase;
    margin-top: 6px;
    font-size: 2em;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease; }
    @media screen and (max-width: 767px) {
      .bb-navbar-brand {
        margin-top: 0px;
        font-size: 19px; } }
  .bb-navbar-brand:hover, .bb-navbar-brand:active, .bb-navbar-brand:focus {
    color: #0a5375; }
  .bb-navbar-nav:hover, .bb-navbar-nav:active, .bb-navbar-nav:focus {
    color: #0a5375; }

.mobile-nav-list {
  position: absolute;
  margin-left: 0px;
  padding-left: 15px;
  list-style-type: none; }

.button-on {
  border-bottom: 1px black solid; }

.introduction {
  background: #0a5375;
  color: white; }
  @media (min-width: 768px) {
    .introduction-container {
      padding-top: 200px;
      padding-bottom: 150px; } }
  @media (max-width: 767px) {
    .introduction-container {
      padding-top: 140px;
      padding-bottom: 70px; } }
  .introduction h1 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; }
    @media (max-width: 767px) {
      .introduction h1 {
        font-size: 2em; } }
  .introduction h3 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; }
    @media (min-width: 768px) {
      .introduction h3 {
        font-size: 1.75em; } }
    @media (max-width: 767px) {
      .introduction h3 {
        font-size: 1.25em; } }
  .introduction h2 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; }
    @media (min-width: 768px) {
      .introduction h2 {
        font-size: 2.45em; } }
    @media (max-width: 767px) {
      .introduction h2 {
        font-size: 1.75em; } }

.portfolio {
  background: white;
  color: #2C3E50; }
  @media (min-width: 768px) {
    .portfolio-container {
      padding-top: 110px;
      padding-bottom: 140px; } }
  @media (max-width: 767px) {
    .portfolio-container {
      padding-top: 130px;
      padding-bottom: 60px; } }
  .portfolio h2 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.95em; }

.about {
  background: #0a5375;
  color: white; }
  @media (min-width: 768px) {
    .about-container {
      padding-top: 80px;
      padding-bottom: 100px; } }
  @media (max-width: 767px) {
    .about-container {
      padding-top: 50px;
      padding-bottom: 60px; } }
  .about h2 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; }
    @media (min-width: 768px) {
      .about h2 {
        font-size: 2.95em; } }
    @media (max-width: 767px) {
      .about h2 {
        font-size: 2.25em; } }
  .about p {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; }
    @media (min-width: 768px) {
      .about p {
        font-size: 1.25em; } }
    @media (max-width: 767px) {
      .about p {
        font-size: 1em; } }

.medias {
  background: white;
  color: #2C3E50; }
  @media screen and (min-height: 768px) {
    .medias-container {
      padding-top: 90px;
      padding-bottom: 90px; } }
  @media screen and (max-height: 767px) {
    .medias-container {
      padding-top: 100px;
      padding-bottom: 100px; } }
  @media (min-width: 768px) {
    .medias p {
      font-size: 1.25em; } }
  @media (max-width: 767px) {
    .medias p {
      font-size: 1em; } }
  .medias h2 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; }
    @media (min-width: 768px) {
      .medias h2 {
        font-size: 2.95em; } }
    @media (max-width: 767px) {
      .medias h2 {
        font-size: 2.25em; } }
  .medias h3 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center; }
    @media (min-width: 768px) {
      .medias h3 {
        font-size: 1.75em; } }
    @media (max-width: 767px) {
      .medias h3 {
        font-size: 1.25em; } }

.contact {
  background: #0a5375;
  color: white; }
  @media (min-width: 768px) {
    .contact-container {
      padding-top: 90px;
      padding-bottom: 90px; } }
  @media (max-width: 767px) {
    .contact-container {
      padding-top: 100px;
      padding-bottom: 100px; } }
  .contact h2 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; }
    @media (min-width: 768px) {
      .contact h2 {
        font-size: 2.95em; } }
    @media (max-width: 767px) {
      .contact h2 {
        font-size: 2.25em; } }

.footer-top {
  background: #2C3E50;
  color: white; }
  @media (min-width: 768px) {
    .footer-top-container {
      padding-top: 70px;
      padding-bottom: 70px; } }
  @media (max-width: 767px) {
    .footer-top-container {
      padding-top: 70px;
      padding-bottom: 70px; } }
  .footer-top h3 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; }
    @media (max-width: 767px) {
      .footer-top h3 {
        font-size: 2.45em; } }
    @media (min-width: 768px) {
      .footer-top h3 {
        font-size: 1.75em; } }
  .footer-top p {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; }
    @media (max-width: 767px) {
      .footer-top p {
        font-size: 1em; } }
    @media (min-width: 768px) {
      .footer-top p {
        font-size: 1.125em; } }

.footer-bottom {
  background: #1A242F;
  color: white; }
  @media (min-width: 768px) {
    .footer-bottom {
      padding-top: 10px;
      padding-bottom: 10px; } }
  @media (max-width: 767px) {
    .footer-bottom {
      padding-top: 10px;
      padding-bottom: 10px; } }
  .footer-bottom p {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.8em; }

.portfolio-overlay {
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  cursor: pointer;
  position: relative; }
.portfolio-overlay:after {
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #0a5375; }
.portfolio-overlay:hover:after {
  opacity: 0.8; }

.hover-icon {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  pointer-events: none;
  width: 0px;
  height: 0px;
  position: absolute;
  z-index: 1;
  color: white; }

.hover-icon:hover {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  width: 0px;
  height: 0px;
  position: absolute; }

/*# sourceMappingURL=app.css.map */
