.looking-glass-effect {
  width: 100%;
  height: inherit !important;
  float: left;
  position: relative;
  cursor: default;
}

.img-responsive {
    width: 100%;
    height: inherit !important;
    @media screen and (max-width: 767px) {
	margin-bottom: 40px;
    }
}

.looking-glass-effect .looking-glass-effect-overlay {
  position: absolute;
  overflow: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  left: 21%;
  width: 58%;
  height: 80%;
  top: 10%;
  border-radius: 80%;
  border: 2px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(50%,50%,0);
  transform: translate3d(50%,50%,0);
}

.looking-glass-modification .looking-glass-effect-overlay{
  left: 50px;
  width: 200px;
  top: 15px;
}

.looking-glass-effect:hover .looking-glass-effect-overlay {
  background-color: rgba(0,0,0,0.1);
}

.looking-glass-effect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.looking-glass-effect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1.4" /><feFuncG type="linear" slope="1.4" /><feFuncB type="linear" slope="1.4" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(.4);
  -webkit-filter: brightness(.4);
}

.looking-glass-effect h1 h2 h3 h4 h5 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-150%,-400%,0);
  transform: translate3d(-150%,-400%,0);
}

.looking-glass-effect h2 {
    font-size: 16px;
    position: relative;
    position: relative;
    top: 45.5%;
}

.looking-glass-effect a, .looking-glass-effect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-150%,-400%,0);
  transform: translate3d(-150%,-400%,0);
}

.looking-glass-effect:hover a, .looking-glass-effect:hover p, .looking-glass-effect:hover h2, .looking-glass-effect:hover .looking-glass-effect-overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
