.btn-send
{
    @include transition-time(0.5s);
    border: 2px solid $btn-send-border;
    color: $btn-send-text;
    line-height: 60px;
    width: 230px;
    font-family: $button-general-font;
    font-size: 20px;

    &:hover
    {
        background: $btn-send-background-fade;
        border: 2px solid $btn-send-border-hover;
        color: $btn-send-text;
    }
}
