.btn-lightbox-close
{
    @include generateNoSelect();

    &.ng-show-add, &.ng-show-remove{
	&-active{
	    transition: $btn-lightbox-transition; 
	}

	transition: $btn-lightbox-transition-reset;
    }

    &.ng-hide-add, &.ng-hide-remove{
	&-active{
	    transition: $btn-lightbox-transition; 
	}

	transition: $btn-lightbox-transition-reset;
    }

    &.ng-hide{
	transition: $btn-lightbox-transition; 
	opacity: 0;
    }

    &:hover, &:active, &:focus{
	color: $btn-lightbox-close-color-hover;
    }

    transition: $btn-lightbox-transition; 

    position: fixed;
    z-index: $lightbox-button-z-index;
    right: $btn-lightbox-close-right;
    top: $btn-lightbox-close-top;
    color: $btn-lightbox-close-color;
    font-size: $btn-lightbox-close-font-size;
    background: $btn-lightbox-close-background;
    border: $lightbox-portfolio-background;
}

.active
{
    color: $btn-lightbox-close-color-active;
}
