.btn-send
{
    @include transition-time(0.2s);
    border: $btn-send-border;
    color: $btn-send-text;
    background: $btn-send-background;
    line-height: $btn-send-height;
    width: $btn-send-width;
    font-family: $button-general-font;
    font-size: $btn-send-text-size;
    z-index: 99;
}

.btn-send-success
{
    &:hover
    {
	@include scale(1.2);
        background: $btn-send-background-fade-good;
	border: $btn-send-border-hover-good;
    }
}

.btn-send-failure
{
    &:hover
    {
	@include scale(1.2);
        background: $btn-send-background-fade-bad;
	border: $btn-send-border-hover-bad;
    }
}
