.btn-secondary-outline
{
    transition: $btn-secondary-outline-transition;
    border: 2px solid $btn-secondary-outline-border;
    color: $btn-secondary-outline-text;
    line-height: $btn-secondary-outline-height;
    width: $btn-secondary-outline-width;
    font-family: $button-general-font;
    font-size: $btn-secondary-outline-text-size;

    &:hover
    {
	@include transition-time($btn-secondary-outline-transition);
	@include scale(1.2);
        background: $btn-secondary-outline-background-fade;
        border: 2px olidbtn-secondary-outline-border;
        color: $btn-secondary-outline-text-fade;
    }
}
