.bb-navbar-button
{
    background: $color-palette-3;
    border: 0px solid $navbar-button-border;
    border-radius: 7px;
    padding: 6px 7px;
    &:hover, &:active{
	background: $navy-blue-dark;
    }
}

.bb-navbar-icon-bar
{
    display: block;
    width: 22px;
    height: 2px;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: white;
    border-radius: 1px;
}
