<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blue Bike Design</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link href="css/app.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <!-- Montserrat Font. -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Cool Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
    <link href='fonts/cards.ttf' rel='stylesheet' type='text/css'>

</head>

<body ng-app="BlueBikeLandingPage" data-offset="71" data-spy="scroll" data-target=".navbar" >
  
  <nav class="navbar navbar-fixed-top bb-navbar" id="navbar-generic">
    <div class="container">
        <li class="nav-item pull-xs-left m-x-1">
	    <a class="navbar-brand bb-navbar-brand nav-link navbar-nav" href="#introduction">Blue Bike Studios</a>
	</li>
	<ul class="nav navbar-nav">
	    <li class="nav-item active pull-xs-right m-x-1">
		<a class="nav-link navbar-nav bb-navbar-nav" href="#contact">Contact</a>
	    </li>
	    <li class="nav-item active pull-xs-right m-x-1">
		<a class="nav-link navbar-nav bb-navbar-nav" href="#medias">Medias</a>
	    </li>
	    <li class="nav-item pull-xs-right m-x-1">
		<a class="nav-link navbar-nav bb-navbar-nav" href="#about">About</a>
	    </li>
	    <li class="nav-item pull-xs-right m-x-1">
		<a class="nav-link navbar-nav bb-navbar-nav" href="#portfolio">Portfolio</a>
	    </li>
	    <li class="nav-item pull-xs-right">
	      <button id="navbar-mobile-toggler" class="bb-navbar-button" href="#">
		<span class="bb-navbar-icon-bar"></span>
		<span class="bb-navbar-icon-bar"></span>
		<span class="bb-navbar-icon-bar"></span>
	      </button>
	    </li>


	</ul>
    </div>
  </nav>
  <nav class="navbar navbar-fixed-top bb-navbar bb-navbar-toggle">
    <ul class="mobile-nav-list">
	<li class="nav-item">
	    <a class="nav-link bb-navbar-nav-mobile" href="#">Portfolio</a>
	</li>
	<li class="nav-item">
	    <a class="nav-link bb-navbar-nav-mobile" href="#">About</a>
	</li>
	<li class="nav-item">
	    <a class="nav-link bb-navbar-nav-mobile" href="#">Medias</a>
	</li>
	<li class="nav-item">
	    <a class="nav-link bb-navbar-nav-mobile" href="#">Contact</a>
	</li>
    </ul>
  </nav>
  <section class="introduction" id="introduction">
    <div class="container introduction-container">
      <div class="row">
	<div class="col-md-12 text-xs-center">
	   <img class="img-responsive img-desktop" alt="responsive image" src="img/asset-bike.svg"/>
	   <h1 class="text-phone m-y-2-phone">Blue Bike Web Design</h1>
	   <hr class="starlight m-t-1">
	   <h2 class="m-t-3-desktop m-y-2-phone">Web Design - Programming - and Maintainence</h2>
	 </div>
      </div>
    </div>
  </section>
  <div class="lightboxApp"  ng-controller="lightboxController">
  <button ng-click="toggleLightbox('close')" ng-show="lightboxActive" type="button" class="ng-hide btn-lightbox-close btn-lightbox-close-hidden">&times;</button> 
  <div ng-show="lightboxActive"  class="ng-hide lightbox-top-wrapper lightbox-portfolio-top-wrapper lightbox-top-wrapper-hidden">
  </div>
  <div ng-show="lightboxActive"  class="ng-hide lightbox-wrapper lightbox-portfolio-wrapper lightbox-wrapper-hidden">
    <div class="container" ng-click="toggleLightbox('close')" >
      <div class="row">
	<div class="col-xs-12 text-xs-center lightbox-portfolio-header">
	  <h1 ng-click="$event.stopPropagation()">{{nameBuffer}}</h1>
	  <div class="col-xs-4 col-xs-offset-4 text-xs-center">
	  <img ng-click="$event.stopPropagation()" class="img-fluid center-block" src={{imageBuffer}}></img>
	  </div>
	</div>
      </div>
      <div class="container">
      <div class="row">
       <div class="col-md-4 col-md-offset-4">
	<div id="medium-phone" class="col-xs-4 col-md-6 m-t-3">
	  <div ng-click="setMediaBuffer(0); $event.stopPropagation()" class="portfolio-overlay portfolio-circular portfolio-caption">
	    <div class="portfolio-caption-content">
	    </div>
		<img class="img-fluid " src="img/asset-phone.png"></img>
	  </div>
	</div>
	<div id="medium-desktop" class="col-xs-4 col-md-3 m-t-3 portfolio-caption">
	  <div ng-click="setMediaBuffer(1); $event.stopPropagation()" class="portfolio-circular portfolio-overlay">
	    <img class="img-fluid center-block" src="img/asset-desktop.png"></img>
	  </div>
	</div>
	<div id="medium-laptop" class="col-xs-4 col-md-3 m-t-3 portfolio-caption">
	  <div ng-click="setMediaBuffer(2); $event.stopPropagation()" class="portfolio-overlay portfolio-circular">
	    <img class="img-fluid center-block" src="img/asset-laptop.png"></img>
	  </div>
	</div>
        </div>
	</div>
      </div>
    </div>
  </div>
  <section class="portfolio" id="portfolio">
    <div class="container portfolio-container">
      <div class="row">
	<div class="col-md-12 text-xs-center">
	  <h2>Portfolio</h2>
	   <hr class="starlight-inverse m-y-1">
	</div>
      </div>
      <div class="row">
	<div class="col-md-4 m-t-2">
	  <div ng-click="toggleLightbox(1)" class="portfolio-overlay portfolio-caption">
	    <div class="portfolio-caption-content">
	    </div>
	  <a class="portfolio-clickable" href="#"><img class="img-fluid" src="img/asset-cabin.png"/></a>
	  </div>
	</div>
	<div class="col-md-4 m-t-2 portfolio-caption">
	  <div ng-click="toggleLightbox(2)" class="portfolio-overlay">
	  <a class="portfolio-clickable" href="#"><img class="img-fluid" src="img/asset-cake.png"/></a>
	  </div>
	</div>
	<div class="col-md-4 m-t-2 portfolio-caption">
	  <div ng-click="toggleLightbox(3)" class="portfolio-overlay">
	  <a class="portfolio-clickable" href="#"><img class="img-fluid" src="img/asset-tent.png"/></a>
	  </div>
	</div>
      </div>
    </div>
  </section>
  </div>
  <section class="about" id="about">
    <div class="container about-container">
    <div class="row">
	<div class="col-md-12 text-xs-center">
	   <h2 class="m-b-2">About</h1>
	   <hr class="starlight m-y-1"/>
    </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-2 text-md-left m-t-1">
	<p>
	Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.
	</p>
      </div>
      <div class="col-md-4 text-md-left m-t-1">
	<p>
	Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.
	</p>
      </div>
    </div>
  </section>
  <section class="medias" id="medias">
	<div class="container medias-container">
	<div class="row">
	  <div class="col-md-12 text-xs-center">
	    <h2>100% Responsive Websites</h2>
	  </div>
	</div>
	<div class="row">
	    <div class="col-md-6 col-md-offset-3 m-t-1">
	    <h3 class="">60% of online traffic comes from mobile devices, we'll help you take advantage of that.</h3>
	    </div>
	</div>
	<div class="row m-t-2">
	    <hr class="starlight-inverse">
	</div>
	<div class="row m-t-2">
	  <div class="col-md-4">
	    <div class="card" data-src="..." alt="">
	      <div class="card-block text-xs-center">
		<img src="img/asset-phone.png"></i>
	      </div>
	    </div>
	  </div>
	  <div class="col-md-4">
	    <div class="card" data-src="..." alt="">
	      <div class="card-block text-xs-center">
		<img src="img/asset-desktop.png"></i>
	      </div>
	    </div>
	  </div>
	  <div class="col-md-4">
	    <div class="card" data-src="..." alt="">
	      <div class="card-block text-xs-center">
		<img src="img/asset-laptop.png"></i>
	      </div>
	    </div>
	  </div>
	</div>
        <div class="row m-t-1">
	    <div class="col-md-6 col-md-offset-3 m-t-1">
	      <p class="">Nibh cras pulvinar mattis nunc. Vitae aliquet nec, ullamcorper sit. Mauris pharetra et ultrices neque. Ac turpis egestas sed tempus. Nunc, sed blandit libero volutpat. Mi bibendum neque egestas congue. Porttitor massa id neque aliquam vestibulum morbi blandit cursus risus!</p>
	    </div>
	</div>
	</div>
  </section>
    <section ng-controller="formValidator" class="contact" id="contact">
      <div ng-show="badFlag" ng-hide="!badFlag" class="modal-alert">
	<div class="modal-alert-container modal-submission-bad">
	  <div class="row">
	    <div class="col-md-12">
	      <h1 class="text-xs-center">Could Not Submit Email</h1>
	      <h3 class="text-xs-center">The data you entered was not valid.</h3>
	      <hr class="m-t-2 m-b-3 starlight">
	    </div>
	  </div>
	  <div class="row text-xs-left">
	    <div class="col-md-8 col-md-offset-2">
	      <p>Unfourtunately for whatever reason, our system thinks that the data you entered may not be correct.
	      Please try re-entering and try again.</p>
	      <div class="text-xs-center">
	        <button ng-click="resetGUIFlags()" class="btn btn-secondary m-t-0">Okay</button>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
     <div ng-show="goodFlag" ng-hide="!goodFlag" class="modal-alert">
	<div class="modal-alert-container bg-success">
	  <div class="row">
	    <div class="col-md-12">
	      <h1 class="text-xs-center">Success</h1>
	      <h4 class="text-xs-center">Your email has been sent to Blue Bike Studios.</h4>
	      <hr class="m-t-3 m-b-3 starlight">
	    </div>
	  </div>
	  <div class="row text-xs-center">
	    <div class="col-md-8 col-md-offset-2">
	      <p>We'll get back to you as soon as possible!</p>
	      <div class="text-xs-center">
	        <button ng-click="resetGUIFlags()" class="btn btn-primary m-t-1">Okay</button>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    <div class="container contact-container">
      <div class="row">
	<div class="col-md-12 text-xs-center">
	  <h2>Contact</h2>
	   <hr class="starlight m-y-1">
	</div>
      </div>
	    <div class="row m-t-1">
	     <div class="form-group col-md-6 col-md-offset-3">
	       <input ng-focus="focusForm(1)" ng-blur="defocusForm()" ng-focus="checkName()" ng-change="checkName()" ng-model="name" type="text" class="form-control m-t-2" placeholder="Name" id="name"></input>
	       <input ng-focus="focusForm(4)"ng-blur="defocusForm()" ng-focus="checkEmail()" ng-change="checkEmail()" ng-model="email" type="text" class="form-control m-t-2" placeholder="Email Address" id="email"></input>
	       <input ng-focus="focusForm(3)" ng-blur="defocusForm()" ng-focus="checkPhone()" ng-change="checkPhone()" ng-model="phone" type="text" class="form-control m-t-2" placeholder="Phone Number" id="phone"></input>
	       <textarea ng-focus="focusForm(2)" ng-blur="defocusForm()" ng-focus="checkMessage()" ng-change="checkMessage()" ng-model="message" rows="3" ng-model="name" type="text" class="form-control m-t-2" placeholder="Message" id="input"></textarea>
	     </div>
	   </div>     
	   <div class="row m-t-2">
	     <div class="text-xs-center">
		<button ng-click="refreshGUIFlags()" class="btn btn-send btn-send-failure">Send</button>
	     </div>
	   </div>
      </div>
    </div>
  </section>
  <section class="footer-top" id="footer-top">
    <div class="container footer-top-container">
      <div class="row">
	<div class="col-md-4 text-xs-center">
	  <h3 class="m-y-1">Location</h3>
	  <p class="m-y-1">3481 Melrose Place, Beverly Hills, CA 90210</p>
	</div>
	<div class="col-md-4 text-xs-center">
	  <h3 class="m-y-1">Around The Web</h3>
	</div>
	<div class="col-md-4 text-xs-center">
	  <h3 class="m-y-1">About Blue Bike</h3>
      <p class="m-y-1">At risus viverra adipiscing at in tellus. Erat velit, scelerisque in dictum non, consectetur a erat nam at lectus urna duis convallis convallis tellus.</p>
	</div>
      </div>
    </div>
  </section>
  <section class="footer-bottom" id="footer-bottom">
    <div class="container footer-bottom-container">
        <div class="col-md-12 m-t-1 text-xs-center">
            <p>Copyright Your Website 2014</p>
        </div>
    </div>
  </section>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0-rc.2/jquery-ui.min.js" integrity="sha256-55Jz3pBCF8z9jBO1qQ7cIf0L+neuPTD1u7Ytzrp2dqo=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"</script>
  <script src="js/utilities/app.js"></script> 
  <script src="js/utilities/easy-scroll.js"></script> 
  <script src="js/controllers/lightbox.js"></script> 
  <script src="js/controllers/forms.js"></script> 
</body>

</html>
