.starlight{
    border: 3px solid $break-starlight-border;
    padding: 0;
    text-align: center;
    max-width: 250px;
    &::after{
        content: "\f005";
        font-family: FontAwesome;
        display: inline-block;
        position: relative;
        top: -0.8em;
        font-size: 2em;
        padding: 0 0.25em;
        background-color: $break-starlight-background;
        color: $break-starlight-color;
    }
}
.starlight-transparent{
    border: 3px solid $break-starlight-border;
    border-color: white;
    border-radius: 2px;
    padding: 0;
    text-align: center;
    max-width: 250px;
    &::after{
        content: "\f005";
        font-family: FontAwesome;
        display: inline-block;
        position: relative;
        top: -0.75em;
        font-size: 3em;
        padding: 0 0.25em;
        color: lighten($color-palette-3, 5%);
    }
}
.starlight-inverse{
    border: 3px solid $break-starlight-border-inverse;
    padding: 0;
    text-align: center;
    max-width: 250px;
    &::after{
        content: "\f005";
        font-family: FontAwesome;
        display: inline-block;
        position: relative;
        top: -0.8em;
        font-size: 2em;
        padding: 0 0.25em;
        background-color: $break-starlight-background-inverse;
        color: $break-starlight-color-inverse;
    }
}

.starlight-success{
    border: 3px solid $break-starlight-border-success;
    padding: 0;
    text-align: center;
    max-width: 250px;
    &::after{
        content: "\f00c";
        font-family: FontAwesome;
        display: inline-block;
        position: relative;
        top: -0.8em;
        font-size: 2em;
        padding: 0 0.25em;
        background-color: $break-starlight-background-success;
        color: $break-starlight-color-success;
    }
}

.starlight-failure{
    border: 3px solid $break-starlight-border-failure;
    padding: 0;
    text-align: center;
    max-width: 250px;
    &::after{
        content: "\f00d";
        font-family: FontAwesome;
        display: inline-block;
        position: relative;
        top: -0.8em;
        font-size: 2em;
        padding: 0 0.25em;
        background-color: $break-starlight-background-failure;
        color: $break-starlight-color-failure;
    }
}

.starlight-about{
    border: 3px solid $break-starlight-border-failure;
    padding: 0;
    text-align: center;
    max-width: 250px;
    &::after{
        content: "\f02e";
        font-family: FontAwesome;
        display: inline-block;
        position: relative;
        top: -0.8em;
        font-size: 2em;
        padding: 0 0.25em;
        background-color: $color-palette-3;
        color: $color-palette-2;
    }
}

.starlight-medias{
    border: 3px solid $break-starlight-border-inverse;
    padding: 0;
    text-align: center;
    max-width: 250px;
    &::after{
        content: "\f10b";
        font-family: FontAwesome;
        display: inline-block;
        position: relative;
        top: -0.8em;
        font-size: 2.5em;
        padding: 0 0.25em;
        background-color: $break-starlight-background-inverse;
        color: $break-starlight-color-inverse;
    }
}

.starlight-portfolio{
    border: 3px solid $break-starlight-border-failure;
    padding: 0;
    text-align: center;
    max-width: 250px;
    &::after{
        content: "\f0ea";
        font-family: FontAwesome;
        display: inline-block;
        position: relative;
        top: -0.8em;
        font-size: 2.0em;
        padding: 0 0.25em;
        background-color: $color-palette-3;
        color: $color-palette-2;
    }
}

.starlight-contact{
    border: 3px solid $break-starlight-border;
    padding: 0;
    text-align: center;
    max-width: 250px;
    &::after{
        content: "\f095";
        font-family: FontAwesome;
        display: inline-block;
        position: relative;
        top: -0.8em;
        font-size: 2em;
        padding: 0 0.25em;
        background-color: $break-starlight-background;
        color: $break-starlight-color;
    }
}
