@mixin transition-time($time){
    -webkit-transition-duration: $time;
    -moz-transition-duration: $time;
    -ms-transition-duration: $time;
    -o-transition-duration: $time;
    transition-duration: $time;
}

@mixin scale($amount){
    -webkit-transform: scale($amount);
    -moz-transform: scale($amount);
    -ms-transform: scale($amount);
    -o-transform: scale($amount);
    transition: scale($amount);
}

@mixin no-select
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

@mixin no-select-with-styling
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
	cursor: default;
}

//For use on icons.
@mixin extended-transition($time, $size)
{
    -webkit-transform: scale($size);
    -moz-transform: scale($size);
    -ms-transform: scale($size);
    -o-transform: scale($size);
    transform: scale($size);

    -webkit-transition: background-color $time, transform $time ease-in;
    -moz-transition: background-color $time, transform $time ease-in;
    -ms-transition: background-color $time, transform $time ease-in;
    -o-transition: background-color $time, transform $time ease-in;
    transition: background-color $time, transform $time ease-in;
}

@mixin icon-coloration($background, $color)
{
    background: $background;
    color: $color;
    fill: $color;
}
