.bb-navbar-enabled
{
    @include transition-time(0.5s);
    display: block !important;

    //Refactor sizes.
    height: 170px !important;

    .mobile-nav-list
    {
	//Refactor sizes.
	height: 170px !important;
    }
}

.bb-navbar-disabled
{
    @include transition-time(0.5s);
    display: block !important;
    height: 0px !important;

    .mobile-nav-list
    {
	height: 0px !important;
    }
}
.bb-navbar-toggle
{

    position: fixed;
    top: 50px;
    background: blue;

    &-inactive{
	@include transition-time(0.5s);

	//Create a punnet-square mixin for these.
	position: fixed;
	display: none;

	height: 0px;
	.nav-item
	{
	    display: none;
	}

	//Can we do this more elegantly?
	top: 0px;
	z-index: -999;
    }

    &-active{
	@include transition-time(0.5s);
	//Change background.

	//Refactor sizes.
	height: 170px;

	//Create a punnet-square mixin for these.
	position: fixed;
	display: block;
    }

}
