.viewing-home
{
    background: transparent !important;
    height: 120px;
    padding-top: 20px;

    a{
	color: lighten($color-palette-9, 0%) !important;
	&:hover
	{
	    color: lighten($color-palette-5, 15%) !important;
	}
    }

    #nav-1{
	color: darken($color-palette-5, 10%) !important;
	&:hover
	{
	    color: darken($color-palette-5, 0%) !important;
	}
    }
}
