.viewing-home
{
    background: transparent !important;
    height: 120px;
    padding-top: 30px;

    a{
	color: darken($color-palette-5, 10%) !important;
	&:hover
	{
	    color: lighten($color-palette-5, 15%) !important;
	}
    }

    #nav-1{
	color: lighten($color-palette-5, 5%) !important;
	&:hover
	{
	    color: lighten($color-palette-5, 15%) !important;
	}
    }
}

.viewing-other
{
    background: $color-palette-3 !important;

    a{
	color: white;
	&:hover
	{
	    color: $color-palette-7 !important;
	}
    }

    #nav-1{
	color: white;
	&:hover
	{
	    color: $color-palette-7 !important;
	}
    }
}
