//Descriptive color names.
$ebony-black: black;
$pearly-white: white;
$navy-blue: #004573;
$navy-blue-dark: #1A242F;
$teal-green: #0073bf;
$teal-green-dark: darken(#0073bf, 30%);
$light-coral: #0accb2;
$black-blue: #1a242f;
$coral: coral;
$ebony-black-partial-transparent: rgba(0, 0, 0, .9);
$velvet-red: lighten(desaturate(#8c0c24, 30%), 20%);
$froggy-green: lighten(desaturate(#0c8c34, 30%), 20%);
$velvet-red-dark: lighten(desaturate(#8c0c24, 30%), 5%);
$froggy-green-dark: lighten(desaturate(#0c8c34, 30%), 5%);
$dark-orangy: #c77432;

//Pallet Colors: Allows rapid changing of colors.
//Note: Only utilize these in actually colorations in
//REFERENCE to other elements.

$color-palette-1: $ebony-black;
$color-palette-2: $pearly-white;
$color-palette-3: $navy-blue;
$color-palette-4: $navy-blue-dark;
$color-palette-5: $teal-green;
$color-palette-6: $teal-green-dark;
$color-palette-7: $light-coral;
$color-palette-8: $black-blue;
$color-palette-9: $velvet-red;
$color-palette-10: $froggy-green;
$color-palette-11: $velvet-red-dark;
$color-palette-12: $froggy-green-dark;
$color-palette-13: $dark-orangy;

//Navbar Coloration
    // Introduction.
    $navbar-background-introduction: $color-palette-3;
    $navbar-color-introduction: $color-palette-2;
    $navbar-color-introduction-hover: $color-palette-5;
    $navbar-toggled-border-introduction: $color-palette-6;
    $navbar-active-color-introduction: $color-palette-7;
    // Portfolio.
    $navbar-background-portfolio: $color-palette-3;
    $navbar-color-portfolio: $color-palette-2;
    $navbar-color-portfolio-hover: $color-palette-5;
    $navbar-toggled-border-portfolio: $color-palette-6;
    $navbar-active-color-portfolio: $color-palette-7;
    //About
    $navbar-background-about: $color-palette-3;
    $navbar-color-about: $color-palette-2;
    $navbar-color-about-hover: $color-palette-5;
    $navbar-toggled-border-about: $color-palette-6;
    $navbar-active-color-about: $color-palette-7;
    //Medias
    $navbar-background-medias: $color-palette-3;
    $navbar-color-medias: $color-palette-2;
    $navbar-color-medias-hover: $color-palette-5;
    $navbar-toggled-border-medias: $color-palette-6;
    $navbar-active-color-medias: $color-palette-7;
    //Contact
    $navbar-background-contact: $color-palette-3;
    $navbar-color-contact: $color-palette-2;
    $navbar-color-contact-hover: $color-palette-5;
    $navbar-toggled-border-contact: $color-palette-6;
    $navbar-active-color-contact: $color-palette-7;





//Section Coloration
    //Introduction
    $section-introduction-background: $color-palette-5;
    $section-introduction-text: $color-palette-2;

    //Portfolio
    $section-portfolio-background: $color-palette-2;
    $section-portfolio-text: $color-palette-3;

    //About
    $section-about-background: $color-palette-5;
    $section-about-text: $color-palette-2;

    //Medias
    $section-media-background: $color-palette-2;
    $section-media-text: $color-palette-3;
    $section-media-text-alternative: $color-palette-4;

    //Contact
    $section-contact-background: $color-palette-5;
    $section-contact-text: $color-palette-2;

    //Footer top.
    $section-footer-top-background: $color-palette-3;
    $section-footer-top-text: $color-palette-2;

    //Footer bottom
    $section-footer-bottom-background: $color-palette-4;
    $section-footer-bottom-text: $color-palette-2;

//Breaks Coloration
    //Regular starlight border.
    $break-starlight-border: $color-palette-2;
    $break-starlight-background: $color-palette-5;
    $break-starlight-color: $color-palette-2;

    //Inverse starlight border
    $break-starlight-border-inverse: $color-palette-3;
    $break-starlight-background-inverse: $color-palette-2;
    $break-starlight-color-inverse: $color-palette-3;

    //Success starlight border
    $break-starlight-border-success: $color-palette-2;
    $break-starlight-background-success: $color-palette-10;
    $break-starlight-color-success: $color-palette-2;

    //Failure starlight border
    $break-starlight-border-failure: $color-palette-2;
    $break-starlight-background-failure: $color-palette-9;
    $break-starlight-color-failure: $color-palette-2;

//Clickable Coloration
    $clickable-fade: $color-palette-5;
    $clickable-icon: $color-palette-2;

//Lightbox Coloration.
    //Lightbox Portfolio Coloration
    $lightbox-portfolio-background: $ebony-black-partial-transparent;
    $lightbox-portfolio-text: $color-palette-2;

//Button Coloration
    //Btn Secondary Outline.
    $btn-secondary-outline-border: $color-palette-2;
    $btn-secondary-outline-text: $color-palette-2;
    $btn-secondary-outline-background-fade: $color-palette-2;
    $btn-secondary-outline-text-fade: $color-palette-1;

    //Btn Navbar 
    $navbar-button: $color-palette-1;
    $navbar-button-border: $color-palette-8;

    //Btn Send
    $btn-send-border: $color-palette-2;
    $btn-send-text: $color-palette-3;
    $btn-send-background: $color-palette-2;
    //Multiple fade, hovers
        //Good.
	$btn-send-border-hover-good: $color-palette-10;
	$btn-send-background-fade-good: $color-palette-10;
	//Bad
	$btn-send-border-hover-bad: $color-palette-9;
	$btn-send-background-fade-bad: $color-palette-9;

//Btn Modal
    $btn-modal-border: $color-palette-2;
    $btn-modal-text: $color-palette-2;
    //Multiple fade, hovers
        //Good.
	$btn-modal-border-good: $color-palette-12;
	$btn-modal-background-good: $color-palette-12;
	    //Hover
	    $btn-modal-hover-background-good: darken($color-palette-12, 10%);
	//Bad
	$btn-modal-border-bad: $color-palette-11;
	$btn-modal-background-bad: $color-palette-11;
	    //Hover
	    $btn-modal-hover-background-bad: darken($color-palette-11, 10%);

    //Btn Lightbox Close
    $btn-lightbox-close-border: transparent;
    $btn-lightbox-close-background: transparent;
    $btn-lightbox-close-color: $color-palette-2;
    $btn-lightbox-close-color-hover: $color-palette-4;
    $btn-lightbox-close-color-active: $color-palette-1;

//Form Colorations
    //Form good
    $form-input-good-background: $color-palette-10;
    $form-input-bad-background: $color-palette-9;
    $form-input-good-text: $color-palette-4;
    $form-input-bad-text: $color-palette-2;

//Modal Colorations
    //Bad
	$modal-submission-bad-background: $color-palette-9;
	$modal-submission-bad-color: $color-palette-2;
    //Good
	$modal-submission-good-background: $color-palette-10;
	$modal-submission-good-color: $color-palette-2;

//Hoverable icons
    $icon-hoverable-color: $color-palette-2;

    

  
