//Easy color names.
$ebony-black: black;
$pearly-white: white;
$navy-blue: #2C3E50;
$navy-blue-dark: #1A242F;
$teal-green: #0C648C;
$light-coral: #ff6347;
$black-blue: #1a242f;

//Navbar Coloration
$navbar-background: $navy-blue;
$navbar-color: $pearly-white;
$navbar-color-hover: $teal-green;
$navbar-toggled-border: darken($teal-green, 30%);

//Section Coloration
    //Introduction
    $section-introduction-background: $teal-green;
    $section-introduction-text: $pearly-white;

    //Portfolio
    $section-portfolio-background: $pearly-white;
    $section-portfolio-text: $navy-blue;

    //About
    $section-about-background: $teal-green;
    $section-about-text: $pearly-white;

    //Contact
    $section-contact-background: $teal-green;
    $section-contact-text: $pearly-white;

    //Footer top.
    $section-footer-top-background: $navy-blue;
    $section-footer-top-text: $pearly-white;

    //Footer bottom
    $section-footer-bottom-background: $navy-blue-dark;
    $section-footer-bottom-text: $pearly-white;

//Breaks Coloration
    //Regular starlight border.
    $break-starlight-border: $pearly-white;
    $break-starlight-background: $teal-green;
    $break-starlight-color: $pearly-white;

    //Inverse starlight border
    $break-starlight-border-inverse: $navy-blue;
    $break-starlight-background-inverse: $pearly-white;
    $break-starlight-color-inverse: $navy-blue;

//Clickable Coloration
    $clickable-fade: $teal-green;
    $clickable-icon: $pearly-white;

//Button Coloration
    //Btn secondary outline.
    $btn-secondary-outline-border: $pearly-white;
    $btn-secondary-outline-text: $navy-blue;
    $btn-secondary-outline-background-fade: $pearly-white;

    //Btn navbar 
    $navbar-button: $ebony-black;
    $navbar-button-border: $black-blue;

    //Btn send
    $btn-send-border: $pearly-white;
    $btn-send-border-hover: $light-coral;
    $btn-send-text: $navy-blue;
    $btn-send-background-fade: $light-coral;
