//Navbar Fonts.
$navbar-font: 'Montserrat', sans-serif;

//Button Fonts.
$button-general-font: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

//Introduction Fonts.
$introduction-header-font: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$introduction-subheader-font: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

//Portfolio Fonts.
$portfolio-header-font: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;

//About Fonts.
$about-header-font: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$about-paragraph-font: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

