//Hoverable icon transition times.
$hoverable-icon-time: .3s;
$hoverable-icon-pre-size: .8;
$hoverable-icon-post-size: 1.25;
$hoverable-icon-opacity-before: 0;
$hoverable-icon-opacity-after: .8;

//General z-indexes
$lightbox-z-index: 1050;
$lightbox-button-z-index: 1051;
