//WARNING: DOESN'T SCALE QUITE WELL TO MOBILE DEVICES/
$full-screen-height: 100vh;
$full-screen-width: 100vw;

//Lightbox Fixed Positioning
    //Lightbox wrapper offsets.
    $lightbox-wrapper-height-offset: 2vh;

    //Lightbox top wrapper offsets.
    $lightbox-top-wrapper-height-offset: 2vh;

    //Lightbox buttons.
        //Lighbox button positional offsets.
	$btn-lightbox-close-top: 10px;
	$btn-lightbox-close-right: 20px;

//Button Sizing
    //Prototypes
	$general-button-width: 250px;
	$general-button-height: 60px;
	$general-button-font-size: 20px;

	    //Btn send
	    $btn-send-border: $btn-send-background;
	    $btn-send-height: $general-button-height;
	    $btn-send-width: $general-button-width;
	    $btn-send-text-size: $general-button-font-size;

	    //Btn secondary
	    $btn-secondary-outline-height: $general-button-height;
	    $btn-secondary-outline-width: $general-button-width;
	    $btn-secondary-outline-text-size: $general-button-font-size;

	    //Btn send
	    $btn-modal-border-good: $btn-modal-border-good;
	    $btn-modal-border-bad: $btn-modal-border-bad;
	    $btn-modal-height: $general-button-height;
	    $btn-modal-width: $general-button-width;
	    $btn-modal-text-size: $general-button-font-size;





