.m-t-3-desktop
{
    @media screen and (min-width: 768px)
    {
        margin-top: 3rem !important;
    }
}

.m-y-2-phone
{
    @media screen and (max-width: 767px)
    {
        margin-top: 2rem !important;
        margin-bottom: 2rem !important;
    }
}

.p-x-1-desktop
{
    @media screen and (min-width: 990px)
    {
	margin: 0 !important;
	padding-left: 1rem;
	padding-right: 1rem;
    }
    @media screen and (max-width: 989px)
    {
	margin: 0 !important;
	padding-right: .75rem;
    }
}

.p-t-m1-desktop
{
    @media screen and (min-width: 768px)
    {
	postion: relative;
	margin-top: -3.5%;
    }
    @media screen and (max-width: 767px)
    {
	postion: relative;
	margin-top: 3.5%;
    }
}
