.no-border
{
    border: 0px black solid;
}

.wait-medias
{
    @include transition-time(1s);
    opacity: 0;
}

.wait-portfolio
{
    @include transition-time(1s);
    opacity: 0;
}

.fadeIn
{
    @include transition-time(1s);
}
