.lightbox-portfolio {
    &-wrapper {
	font-family: $lightbox-portfolio-header-font;
	background: $lightbox-portfolio-background;
    }

    &-top-wrapper {
	font-family: $lightbox-portfolio-header-font;
	background: $lightbox-portfolio-background;
    }
	
    &-header {
	color: $lightbox-portfolio-text;
	padding-top: $top-lightbox-portfolio-padding-top;
    }
}

.lightbox-image{
    max-height: 50vh;
    max-width: 95vw;

    @media screen and (max-width: 767px) {
	max-height: 35vh;
    }

    width: auto;
    @include generateNoSelect();

    padding: -10vw;
    margin: -10vw;
}
