.lightbox-wrapper
{
    &.ng-hide-add, &.ng-hide-remove, &.ng-show-add, &.ng-show-remove{
	&-active{
	    transition: 0.2s linear all;
	}

	transition: 0s linear all;
    }

    &.ng-hide{
	@include transition-time(0.2s);
	opacity: 0;
    }

    //Positioning
    z-index: $lightbox-z-index;

    //Generalizeable Positionings.
    height: $full-screen-height - $lightbox-wrapper-height-offset + 0.1vh;
    width: $full-screen-width;
    position: fixed;
    top: $lightbox-wrapper-height-offset;;
}
.lightbox-top-wrapper
{

    &.ng-hide-add, &.ng-hide-remove, &.ng-show-add, &.ng-show-remove{
	&-active{
	    transition: 0.2s linear all;
	}

	transition: 0s linear all;
    }

    &.ng-hide{
	@include transition-time(0.2s);
	opacity: 0;
    }
    //Positioning
    z-index: $lightbox-z-index;

    //Generalizeable Positionings.
    height: $lightbox-wrapper-height-offset;
    top: 0px;
    width: $full-screen-width;
    position: fixed;

}

.md-t-3 {
    @media screen and (min-width: 1000px)
    {
	margin-top: 22.5vh !important;
    }

    @media screen and (max-width: 999px)
    {
	margin-top: 15vh !important;
    }
}

.card-block {
    img {
	width: 210px !important;
    }
}
