$contact-padding-offset: 20px;

.contact
{
    &-container
    {
        @media screen and (min-height: 768px)
        {
            padding-top: 80px + $contact-padding-offset;
            padding-bottom: 80px + $contact-padding-offset;
        }

        @media screen and (max-height: 767px)
        {
            padding-top: 70px + $contact-padding-offset;
            padding-bottom: 70px + $contact-padding-offset;
        }
    }

    h2{
        @extend %is-important;
        font-family: $contact-header-font;

        @media screen and (min-width: 768px)
        {
            font-size: $contact-subheader-medium-size;
        }

        @media screen and (max-width: 767px)
        {
            font-size: $contact-subheader-medium-mobile-size;
        }
    }

    background: $section-contact-background;
    color: $section-contact-text;
}
