$footer-bottom-padding-offset: 10px;

.footer-bottom
{
    @media screen and (min-width: 768px)
    {
        padding-top: 0px + $footer-bottom-padding-offset;
        padding-bottom: 0px + $footer-bottom-padding-offset;
    }

    @media screen and (max-width: 767px)
    {
        padding-top: 0px + $footer-bottom-padding-offset;
        padding-bottom: 0px + $footer-bottom-padding-offset;
    }

    p{
        font-family: $footer-bottom-paragraph-font;
        font-size: $footer-bottom-paragraph-size;
    }

    background: $section-footer-bottom-background;
    color: $section-footer-bottom-text;

}
