.introduction
{
    &-container
    {
        @include desktop
        {
            padding-top: $introduction-padding-top - 40px;
            padding-bottom: $introduction-padding-bottom;
        }

        @include mobile
        {
            padding-top: $introduction-padding-mobile-top;
            padding-bottom: $introduction-padding-mobile-bottom;
        }
    }

    h1{
        font-family: $introduction-header-font;
        @extend %is-important;

        @include mobile
        {
            font-size: $introduction-header-mobile-size;
        }
    }

    h3{
	font-family: $introduction-subheader-font;

        @include desktop
        {
            font-size: $introduction-subheader-small-size;
        }

        @include mobile
        {
            font-size: $introduction-subheader-small-mobile-size;
        }
    }

    h2{
        font-family: $introduction-subheader-font;

        @include desktop
        {
            font-size: $introduction-subheader-medium-size;
        }

        @include mobile
        {
            font-size: $introduction-subheader-medium-mobile-size * .80;
        }
    }

    background: url(../img/asset-introduction.jpg) no-repeat center center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: $section-introduction-text;
}
@font-face{
    font-family: Geometos Rounded;
    src: url('../fonts/Geometos Rounded.ttf');
}

.introduction-text
{
    @include desktop
    {
	h1{
	    //Responsive cluster for making sure text doesn't get
	    //too ugly.
	    @media screen and (max-width: 599px)
	    {
		font-size: 3rem;
	    }

	    @media screen and (min-width: 600px)
	    {
		font-size: 3.5rem;
	    }

	    @media screen and (min-width: 768px)
	    {
		font-size: 4rem;
	    }

	    @media screen and (min-width: 1024px)
	    {
		font-size: 4.5rem;
	    }

	    @media screen and (min-width: 1200px)
	    {
		font-size: 5.5rem;
	    }

	    @media screen and (min-width: 1920px)
	    {
		font-size: 6.5rem;
	    }

	    font-family: Geometos Rounded;
	}

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30%;
    }

    @include mobile
    {
	display: none;
    }

    &-blue
    {
	color: $color-palette-5;
    }
}
