.portfolio
{
    &-container
    {
        @include desktop
        {
            padding-top: $portfolio-padding-top;
            padding-bottom: $portfolio-padding-bottom;
        }

        @include mobile
        {
            padding-top: $portfolio-padding-mobile-top;
            padding-bottom: $portfolio-padding-mobile-bottom;
        }
    }

    h2{
        @extend %is-important;
        font-family: $portfolio-header-font;
        font-size: $portfolio-subheader-medium-size;
    }

    background: $section-portfolio-background;
    color: $section-portfolio-text;

    &-overlay
    {
        @include transition-time(.5s);
        cursor: pointer;
        position: relative;
    }

    &-overlay:after{
        //Make these utility mixins.
        @include transition-time(.5s);
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-color: $clickable-fade;
    }

    &-overlay:hover:after
    {
        opacity: .9;
    }
}

//Refactor to seperate portion.
.hover-icon
{
    pointer-events: none;
    width: 0px;
    height: 0px;
    @include no-select;
    @include transition-time(.5s);
    position: absolute;
    z-index: 1;
    color: $pearly-white;
}

.hover-icon:hover
{
    width: 0px;
    height: 0px;
    @include no-select;
    position: absolute;
    z-index: 1;
    @include transition-time(.5s);
}
