.footer-bottom
{
    h3{
	font-family: $footer-bottom-header-font;
	text-transform: uppercase;
	font-weight: 700;
    font-size: 1.75em;
    }

    p{
        font-family: $footer-bottom-paragraph-font;
        font-size: .9em;
    }

    background: $section-footer-bottom-background;
    color: $section-footer-bottom-text;

}
