$footer-top-padding-offset: 20px;

.footer-top
{
    &-container
    {
	@media screen and (min-width: 768px)
	{
	    padding-top: 50px + $footer-top-padding-offset;
	    padding-bottom: 50px + $footer-top-padding-offset;
	}

	@media screen and (max-width: 767px)
	{
	    padding-top: 50px + $footer-top-padding-offset;
	    padding-bottom: 50px + $footer-top-padding-offset;
	}
    }

    h3{
    @extend %is-important;
	font-family: $footer-top-header-font;

        @media screen and (max-width: 767px)
        {
            font-size: $footer-subheader-small-size;
        }

        @media screen and (min-width: 768px)
        {
            font-size: $footer-subheader-small-mobile-size;
        }

    }

    p{
        font-family: $footer-top-paragraph-font;

        @media screen and (max-width: 767px)
        {
            font-size: $footer-paragraph-mobile-size;
        }

        @media screen and (min-width: 768px)
        {
            font-size: $footer-paragraph-size;
        }
    }

    background: $section-footer-top-background;
    color: $section-footer-top-text;

}
