$medias-padding-offset: 20px;

.medias
{
    &-container
    {
        @media screen and (min-height: 768px)
        {
            padding-top: 80px + $medias-padding-offset;
            padding-bottom: 80px + $medias-padding-offset;
        }

        @media screen and (max-height: 767px)
        {
            padding-top: 70px + $medias-padding-offset;
            padding-bottom: 70px + $medias-padding-offset;
        }
    }

    p{
        @media screen and (min-width: 768px)
        {
            font-size: $media-paragraph-size;
        }
        @media screen and (max-width: 767px)
        {
            font-size: $media-paragraph-mobile-size;
        }
    }


    h2{
        font-family: $media-header-font;
        @extend %is-important;
        @media screen and (min-width: 768px)
        {
            font-size: $media-subheader-medium-size;
        }

        @media screen and (max-width: 767px)
        {
            font-size: $media-subheader-medium-mobile-size;
        }
    }

    h3{
        font-family: $media-header-font;
        text-align: center;
        @media screen and (min-width: 768px)
        {
            font-size: $media-subheader-small-size;
        }

        @media screen and (max-width: 767px)
        {
            font-size: $media-subheader-small-mobile-size;
        }
    }

    background: $section-media-background;
    color: $section-media-text;
}
